html{
    font-size: 62.5%em;
    text-align: center;
    background-color:  rgb(71, 150, 246);
    
}

header {
    font-weight:bold;
    border: .5rem solid black;
    border-style:double;
    border-radius: 50rem;
    border-bottom-width: 5rem;
    border-top-width: 5rem;
    
}

h1{
    letter-spacing:1rem;
    font-style: italic;
    color:red;
    font-size: 3rem;
}


p, article{
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}

article p {
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    font-style:oblique;

}
article{
    text-align:left;
    border:.25rem solid black;
}

h2{
    text-align:center;
    font-size:3rem
}

div{
    text-align: center;
    font-size: 1.75rem;
    font-style:normal;
    border:.5rem solid black;
    border-style: double;
    border-radius: 75px;
}

a:link{
    color:rgb(254, 255, 240);
}

a:visited{
    color: orange;
}





