body{
    width: 80%;
    margin: auto;
}
#content{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-top: 25px;
}
.authorOptions{
    border: 2px solid black;
    text-align: center;

}