html{
    font-size: 62.5%em;
    text-align: center;
    background-color: black;
    color: white;
}




body {
    max-width: 90%;
    margin: auto;
}

h1 {
    letter-spacing:.6rem;
    line-height: 5px;
    font-weight: 900;
    font-style: italic;
    text-shadow: 3px 2px 1px red;
    font-size: 3.5rem;
    text-decoration: underline;
}

header h1{
    text-decoration: none;
    font-size: 3rem;
}



header {
    font-weight:bold;
    font-style: italic;
    border: .35rem solid red;
    border-style:double;
    border-radius: 50rem;
    border-bottom-width: 3rem;
    border-top-width: 3rem;
}

p, article{
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}

article p {
    padding: 20px 50px 10px 50px;
    font-weight: bold;
    text-align: left;
    font-size: 1.4rem;
    font-style:oblique;

}
article{
    font-size: 1.75rem;
    padding: 20px 20px 10px 20px;
    text-align:left;
    border:.25rem solid red;
    border-radius: 10px;
}
div img {
    overflow:hidden;
    height: 300px;

}

h2:active{
    transition: 3s;

    transform:rotate(360deg)
}

h2{
    text-align:center;
    font-size:3rem;
}

div{
    overflow: hidden;
    text-align: center;
    font-size: 1.75rem;
    font-style:normal;
    border:.5rem solid red;
    border-style: double;
    border-radius: 75px;
    margin:50px 50px 50px 50px
}

.description{
    font-size: 1.7rem;
    overflow:auto;
}

a{
    font-size: 1.4rem;
    text-decoration:none;
}

a:hover{
   font-size: 1.5em;
   transition: 0.5s;
   text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}


a:visited{
    color: rgb(5, 111, 218);
    text-decoration: none;

}

 p,  h2{
     font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}


#koshercopyright {
    font-family: 'Times New Roman', Times, serif;
    text-transform: Capitalize;
    font-size: 2rem;
    font-weight: 800;
}

.menuimg{
    padding: 10px;
    height:50%;
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

ul {
    list-style-type: none;
}

li {
    border:.5rem solid red;
    border-style: double;
    border-radius: 75px;
    margin:50px 50px 50px 50px
}



nav li {
    border: none;
    margin: none;
    display: inline;
    font-size: 20px;

}





