

body {
    font-size: 62.5%em;
    text-align: center;
    background-color: black;
    color: white;
    max-width: 80%;
    margin:auto;
    margin-top: 400px;
}

h1 {
    letter-spacing:.6rem;
    line-height: 3px;
    font-family: 'Viaoda Libre', cursive;
    text-shadow: 3px 2px 1px red;
    font-size: 3.5rem;
}

header h1{

    text-decoration: none;
    font-size: 3rem;
}



header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin:auto;
    width: 90%;

    margin-top: 5rem;
    background-image: url(../images/pizza_image200.jpg);
    font-weight:bold;
    font-style: italic;
    border: .35rem solid red;
    border-style:double;
    border-radius: 50rem;
    border-bottom-width: 3rem;
    border-top-width: 3rem;
}

audio{
    line-height: 1px;
}

nav ul {
    position: fixed;
    top: -17px;
    left: 0;
    width: 100%;
    line-height: 2rem;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 50%, rgba(255,0,0,1) 93%);
}



p, article{
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}

article p {
    padding: 20px 50px 10px 50px;
    font-weight: bold;
    text-align: left;
    font-size: 1.4rem;
    font-style:oblique;

}
article{
    font-size: 1.75rem;
    padding: 20px 20px 10px 20px;
    text-align:left;
    border:.25rem solid red;
    border-radius: 10px;
}
div img {
    overflow:hidden;
    width:33.33%;    
    float: left;
}


h2:active{
    transition: 3s;
    transform:rotate(360deg)
}

h2{
    text-align:center;
    font-size:3rem;
}

div{
    overflow: hidden;
    text-align: center;
    font-size: 1.75rem;
    font-style:normal;
    border:.5rem solid red;
    border-style: double;
    border-radius: 75px;
    margin:10px 50px 10px 50px
}

.description{
    font-size: 1.7rem;
    overflow:auto;
}

a{
    font-size: 1.4rem;
    text-decoration:none;
}

a:hover{
   font-size: 1.5em;
   transition: 0.5s;
   text-shadow: 1px 1px 1px red, 0 0 1em red, 0 0 .1em red;
}

nav a:visited{
    color: rgb(33, 214, 9);
    text-decoration: none;
}

a:visited{
    color: rgb(68, 29, 240);
    text-decoration: none;
}

 p,  h2{
     font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}


#koshercopyright {
    font-family: 'Times New Roman', Times, serif;
    text-transform: Capitalize;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

#bee{
    text-align: center;
}

.menuimg{
    padding: 10px;
    height:50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

ul {
    list-style-type: none;
}

li {
    font-family:'Courier New', Courier, monospace;
    border:.5rem solid red;
    border-style: double;
    border-radius: 75px;
    margin:50px 50px 50px 50px
}

nav li {
    border: none;
    margin: none;
    display: inline;
    font-size: 20px;
}

#video1 {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 33.33%;
    height: 200px;
    float: left;
}

video {
    padding: px;
    margin-left: 0px;
    margin-right: 0px;
    width: 300px;
    height: 200px;
    float: left;
}


